@charset "UTF-8";
/* CSS Document */
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, td {
  margin: 0;
  padding: 0;
}

body {
  font: 12px  "宋体";
  word-wrap: break-word;
}

a, u, s, del {
  color: #666;
  text-decoration: none;
}

fieldset, a img, .bor0 {
  border: 0;
}

i, em, b {
  font-style: normal;
  font-weight: 100;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

.ind2 {
  text-indent: 2em;
}

input, textarea {
  outline: none;
}

.over {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vcenter {
  vertical-align: middle;
  width: 0;
  height: 100%;
  display: inline-block;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.l {
  float: left;
}

.r {
  float: right;
}

.menu {
  width: 4.68rem;
  height: 6.87rem;
  float: left;
  cursor: pointer;
}

.menu i {
  position: relative;
  float: left;
  width: 4.68rem;
  height: .625rem;
  background: #fff;
  margin-top: 1.4rem;
}

.menu i:before {
  content: "";
  width: 4.68rem;
  height: .625rem;
  background: #fff;
  position: absolute;
  left: 0;
  top: -1.4rem;
}

.menu i:after {
  content: "";
  width: 4.68rem;
  height: .625rem;
  background: #fff;
  position: absolute;
  left: 0;
  top: 1.4rem;
}

.margin {
  margin: 0 auto;
  width: 960px;
}

/* CSS Document */
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, td {
  margin: 0;
  padding: 0;
}

body {
  font: 12px  "宋体";
  word-wrap: break-word;
}

a, u, s, del {
  color: #666;
  text-decoration: none;
}

fieldset, a img, .bor0 {
  border: 0;
}

i, em, b {
  font-style: normal;
  font-weight: 100;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

.ind2 {
  text-indent: 2em;
}

input, textarea {
  outline: none;
}

.over {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vcenter {
  vertical-align: middle;
  width: 0;
  height: 100%;
  display: inline-block;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.l {
  float: left;
}

.r {
  float: right;
}

.menu {
  width: 4.68rem;
  height: 6.87rem;
  float: left;
  cursor: pointer;
}

.menu i {
  position: relative;
  float: left;
  width: 4.68rem;
  height: .625rem;
  background: #fff;
  margin-top: 1.4rem;
}

.menu i:before {
  content: "";
  width: 4.68rem;
  height: .625rem;
  background: #fff;
  position: absolute;
  left: 0;
  top: -1.4rem;
}

.menu i:after {
  content: "";
  width: 4.68rem;
  height: .625rem;
  background: #fff;
  position: absolute;
  left: 0;
  top: 1.4rem;
}

.margin {
  margin: 0 auto;
  width: 960px;
}

#header {
  height: 170px;
}
#header .headtop {
  height: 36px;
  background: #f4f4f4;
}
#header .headtop .top_left {
  padding-top: 9px;
  font-size: 12px;
  line-height: 18px;
  color: #6c6c6c;
}
#header .headtop .top_left .login {
  border-left: 1px solid #ccc;
  padding: 0 15px;
  margin-left: 5px;
}
#header .headtop .top_left :hover {
  color: #8E0C3A;
}
#header .top_right {
  padding-top: 9px;
  font-size: 12px;
  line-height: 18px;
  color: #6c6c6c;
}
#header .top_right .concern {
  height: 36px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
#header .top_right .concern .head {
  background: url(../images/styleimg/head.png) no-repeat;
}
#header .top_right .concern .star {
  display: inline-block;
  width: 20px;
  height: 15px;
  background-position: -20px -15px;
  vertical-align: middle;
}
#header .top_right .gz {
  width: 160px;
  height: 60px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 27px;
  left: -114px;
  z-index: 15;
  display: none;
}
#header .top_right .gz ul li {
  width: 65px;
  height: 45px;
  display: inline;
  margin: 10px 0 0 9px;
  text-align: center;
}
#header .top_right .shop {
  width: 119px;
  height: 20px;
  padding-left: 45px;
  position: relative;
  z-index: 22;
}
#header .top_right .shop .head {
  background: url(../images/styleimg/head.png) no-repeat;
}
#header .top_right .shop .pack {
  display: inline-block;
  width: 20px;
  height: 16px;
  background-position: 0 -30px;
  vertical-align: middle;
}
#header .top_right .shop s {
  width: 50px;
  cursor: pointer;
}
#header .top_right .shop span {
  color: #8E0C3A;
}
#header .top_right .shop a {
  border-left: 1px solid #6C6C6C;
  padding: 0 10px;
}
#header .top_right .shopbox {
  width: 275px;
  position: absolute;
  top: 29px;
  right: 231px;
  padding: 5px 20px 10px 20px;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 20;
}
#header .top_right .shopbox .shopbox_n {
  text-align: center;
  padding: 20px 10px;
}
#header .headcenter {
  position: relative;
  height: 100px;
}
#header .headcenter .ewm {
  padding: 15px 0 0 0;
}
#header .headcenter .logo {
  padding-top: 21px;
  width: 420px;
  margin: 0 60px 0 160px;
}
#header .headcenter .search {
  padding-top: 40px;
  margin-right: 24px;
}
#header .headcenter .sec {
  width: 132px;
  height: 26px;
  border: 1px solid #afafaf;
  border-right: none;
  color: #999;
}
#header .headcenter .hbtn {
  width: 24px;
  height: 26px;
  background: url("../images/styleimg/sea.gif") no-repeat left;
  border: 1px solid #afafaf;
  border-left: none;
  position: absolute;
  top: 49px;
  left: 936px;
  cursor: pointer;
}
#header .headnav .navbd {
  border-bottom: 1px solid #333;
}
#header .headnav .navlist .global {
  width: 27px;
  height: 12px;
  background: url("../images/styleimg/new.png") no-repeat;
  z-index: 15;
  position: absolute;
  right: 3px;
  top: 3px;
}
#header .headnav .navlist li {
  position: relative;
  float: left;
  width: 96px;
  height: 33px;
}
#header .headnav .navlist :hover a {
  background: #8E0C3A;
  color: #fff;
}
#header .headnav .navlist a {
  text-align: center;
  display: inline-block;
  width: 96px;
  font-size: 14px;
  line-height: 33px;
  color: #515151;
}

#header .headnav .navlist .yc {
  border-top: 1px solid #ccc;
}
#header .headnav .navlist .yc .menu1 {
  z-index: 20;
  position: absolute;
  width: 930px;
  height: 235px;
  left: -96px;
  border: 1px solid #ccc;
  border-top: none;
  padding: 15px 15px 20px;
  background: #fff;
}
#header .headnav .navlist .yc .menu1 .menu1_l {
  width: 400px;
}
#header .headnav .navlist .yc .menu1 .menu1_l dl {
  float: left;
  width: 100px;
  margin: 0 10px;
  font-family: "微软雅黑";
}
#header .headnav .navlist .yc .menu1 .menu1_l dl dt {
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #8e0c3a;
  font-weight: bold;
}
#header .headnav .navlist .yc .menu1 .menu1_l dl dd {
  margin: 4px 0;
  padding: 0 2px;
  color: #7a7a7a;
}
#header .headnav .navlist .yc .menu1 .menu1_r {
  width: 525px;
}
#header .headnav .navlist .yc .menu1 .menu1_r ul {
  width: 535px;
  height: 245px;
  margin: 0 auto;
  overflow: hidden;
}
#header .headnav .navlist .yc .menu1 .menu1_r ul h2 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #8e0c3a;
  font-weight: bold;
  font-size: 12px;
  margin: 0 10px 0 15px;
}
#header .headnav .navlist .yc .menu1 .menu1_r ul li {
  width: 150px;
  height: 240px;
  margin: 0 10px 0 15px;
  float: left;
  display: inline;
}
#header .headnav .navlist .yc .menu1 .menu1_r ul li img {
  width: 150px;
  height: 180px;
}

#header .headnav .menu2 {
  position: absolute;
  width: 930px;
  height: 235px;
  left: -288px;
  border: 1px solid #ccc;
  border-top: none;
  padding: 15px 15px 20px 15px;
  background: #fff;
  z-index: 20;
}

.menu2 .menu2_l {
  width: 570px;
}

.menu2 .menu2_l dl {
  float: left;
  width: 100px;
  margin: 0 10px;
  font-family: "微软雅黑";
}
.menu2 .menu2_l dl dt {
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #8e0c3a;
  font-weight: bold;
}
.menu2 .menu2_l dl dd {
  margin: 4px 0;
  padding: 0 2px;
  color: #7a7a7a;
}

.menu2 .menu2_r {
  width: 350px;
}
.menu2 .menu2_r .nv {
  width: 305px;
  height: 185px;
}

/* CSS Document */
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, td {
  margin: 0;
  padding: 0;
}

body {
  font: 12px  "宋体";
  word-wrap: break-word;
}

a, u, s, del {
  color: #666;
  text-decoration: none;
}

fieldset, a img, .bor0 {
  border: 0;
}

i, em, b {
  font-style: normal;
  font-weight: 100;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

.ind2 {
  text-indent: 2em;
}

input, textarea {
  outline: none;
}

.over {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vcenter {
  vertical-align: middle;
  width: 0;
  height: 100%;
  display: inline-block;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.l {
  float: left;
}

.r {
  float: right;
}

.menu {
  width: 4.68rem;
  height: 6.87rem;
  float: left;
  cursor: pointer;
}

.menu i {
  position: relative;
  float: left;
  width: 4.68rem;
  height: .625rem;
  background: #fff;
  margin-top: 1.4rem;
}

.menu i:before {
  content: "";
  width: 4.68rem;
  height: .625rem;
  background: #fff;
  position: absolute;
  left: 0;
  top: -1.4rem;
}

.menu i:after {
  content: "";
  width: 4.68rem;
  height: .625rem;
  background: #fff;
  position: absolute;
  left: 0;
  top: 1.4rem;
}

.margin {
  margin: 0 auto;
  width: 960px;
}

#footer {
  margin-top: 30px;
  cursor: pointer;
}

#footer .help {
  border-top: 1px solid #ccc;
  padding: 30px 0 10px 0;
}
#footer .help dl {
  float: left;
  width: 95px;
}
#footer .help dl dt {
  color: #666;
  font-weight: bold;
  padding: 10px 0 8px 0;
}
#footer .help dl dd {
  color: #7a7a7a;
  line-height: 18px;
}

#footer .help .dgrx {
  width: 240px;
  height: 74px;
  padding-top: 13px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.dgrx li {
  text-align: center;
}
.dgrx li span {
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  color: #666;
}
.dgrx li span .dg {
  font-size: 20px;
  line-height: 29px;
}

#footer .help .zx {
  width: 145px;
  height: 74px;
  padding-top: 13px;
  text-align: center;
  border-right: 1px solid #ccc;
}
#footer .help .zx li span {
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  color: #666;
}

#footer .help .zx li span {
  display: block;
}

#footer .help .zx li a .eamil {
  background: url("../images/styleimg/emil.gif") no-repeat;
}
#footer .help .zx li a .qq {
  width: 20px;
  height: 23px;
  background-position: 0 0;
  display: inline-block;
}
#footer .help .zx li a .ej {
  width: 20px;
  height: 23px;
  background-position: -20px 0;
  display: inline-block;
}

#footer .help .sm {
  width: 190px;
  height: 86px;
}
#footer .help .sm .mxapp {
  margin-top: -8px;
  text-align: center;
}
#footer .help .sm .mxapp p {
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: #666;
}
#footer .help .sm .mxapp img {
  width: 72px;
  height: 72px;
  margin: 0 16px 0 20px;
}
#footer .help .sm .mxwx {
  text-align: center;
  margin-top: -8px;
  width: 72px;
}
#footer .help .sm .mxwx p {
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  color: #666;
}
#footer .help .sm .mxwx img {
  width: 75px;
  height: 75px;
}

#footer .btm_nav {
  margin: 20px 0;
  background: #eee;
}
#footer .btm_nav ul {
  width: 810px;
  margin: 3px auto;
}
#footer .btm_nav ul li a {
  text-align: center;
  float: left;
  width: 90px;
  height: 18px;
  font-size: 12px;
  color: #7a7a7a;
  padding-top: 2px;
}
#footer .btm_nav a:hover {
  background: #999;
  color: #fff;
}

#footer .link {
  width: 480px;
  margin: 3px auto;
}

#footer .link ul .link6 a {
  display: inline-block;
  width: 85px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  background: #5a5a5a;
  color: #fff;
}

#footer .link ul li {
  margin: 2px 2px 0 2px;
  float: left;
}
#footer .link ul li .kk {
  background: url("../images/styleimg/kk.jpg");
}
#footer .link ul li .link1 {
  display: inline-block;
  width: 22px;
  height: 23px;
}
#footer .link ul li .link2 {
  display: inline-block;
  background-position: 0 -45px;
  width: 100px;
  height: 22px;
}
#footer .link ul li .link3 {
  display: inline-block;
  background-position: 0 -133px;
  width: 66px;
  height: 22px;
  margin-left: 35px;
}
#footer .link ul li .link4 {
  display: inline-block;
  background-position: -182px -70px;
  width: 73px;
  height: 22px;
}
#footer .link ul li .link5 {
  display: inline-block;
  background-position: -66px 0;
  width: 73px;
  height: 23px;
}

#footer .copyright {
  padding: 10px 20px;
  text-align: center;
  color: #777;
  line-height: 18px;
  font-family: "微软雅黑";
}

#footer .safety {
  overflow: hidden;
  text-align: center;
  margin-top: 3px;
  height: 35px;
  margin-bottom: 18px;
  position: relative;
}
#footer .safety .aq {
  width: 83px;
  height: 30px;
  position: absolute;
  top: 2px;
  left: 367px;
}
#footer .safety .gs {
  overflow: hidden;
}

#main .cart_null {
  height: 300px;
  border: 1px solid #eee;
  margin: 10px 0;
}
#main .cart_null .goods_null {
  background: url(../images/styleimg/good_null.png) no-repeat;
  width: 135px;
  height: 70px;
  padding: 20px 0 0 115px;
  margin: 100px auto 0;
  color: #6c6c6c;
}
#main .cart_null .goods_null a {
  color: #8E0C3A;
}

#main .guess .rec_t {
  margin-top: 15px;
  position: relative;
  height: 54px;
}
#main .guess .rec_t .line {
  width: 100%;
  position: absolute;
  top: 24px;
  left: 0;
  border-bottom: 1px solid #999;
  z-index: 1;
}
#main .guess .rec_t p {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  background: #fff;
  font-size: 16px;
  font-family: "微软雅黑";
  text-align: center;
  color: #333;
  z-index: 2;
}

#main .cart-thead {
  height: 32px;
  line-height: 32px;
  margin: 10px 0 10px;
  padding: 5px 0;
  background: #f3f3f3;
  border: 1px solid #e9e9e9;
  border-top: 0;
  font-family: "微软雅黑";
}
#main .cart-thead .cart-col {
  float: left;
}
#main .cart-thead .t-checkbox {
  height: 18px;
  line-height: 18px;
  padding-top: 7px;
  width: 122px;
  padding-left: 11px;
}
#main .cart-thead .cart-checkbox input {
  margin-right: 5px;
}
#main .cart-thead .t-goods {
  width: 208px;
}
#main .cart-thead .t-prices {
  width: 120px;
  padding-right: 40px;
  text-align: right;
  height: 32px;
}
#main .cart-thead .t-quantity {
  text-align: center;
  width: 80px;
}
#main .cart-thead .t-sum {
  width: 100px;
  padding-right: 40px;
  text-align: right;
}
#main .cart-thead .t-action {
  width: 100px;
  padding-right: 50px;
  text-align: right;
}

.goods-item {
  padding: 0 10px 30px 40px;
  position: relative;
}

.goods-item-sele {
  background: #fff;
}

.goods-info {
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1;
}

.cell {
  float: left;
}

.b-checkbox {
  position: absolute;
  left: 10px;
  width: 30px;
  height: 20px;
  padding: 15px 0 10px 0;
}

.goods-item .cart-checkbox input {
  position: absolute;
  z-index: 2;
}

.cart-checkbox .line-circle {
  position: absolute;
  left: 2px;
  top: -5px;
  display: block;
  width: 7px;
  height: 29px;
  background: url(../images/cart-line-02.png) 0 -17px no-repeat;
}

.goods-item .b-goods {
  width: 300px;
  padding: 15px 0 10px 0;
}

.b-goods .goods-name .goods-pic {
  width: 82px;
  height: 82px;
  margin-right: 10px;
  float: left;
}
.b-goods .goods-name .goods-pic img {
  width: 80px;
  height: 80px;
}

.goods-d-info {
  height: 10px;
  line-height: 20px;
  overflow: hidden;
  padding: 32px 10px;
}

.goods-ex {
  margin-top: 2px;
}

.goods-ex .promise {
  margin: 0 10px 0 0;
  display: block;
  min-height: 18px;
  line-height: 18px;
  margin-bottom: 2px;
}

.promise i {
  display: inline-block;
  width: 17px;
  height: 16px;
  background: url(../images/cart-icons-new.png) no-repeat 0 -23px;
  vertical-align: middle;
}

.promise a {
  display: inline-block;
  padding: 1px 4px 0 7px;
  height: 15px;
  line-height: 15px;
  vertical-align: middle;
}

.b-props {
  height: 80px;
  padding: 15px 10px 0 10px;
  overflow: hidden;
}

.b-price {
  width: 120px;
  padding: 50px 40px 10px 0;
  overflow: hidden;
  text-align: right;
}

.b-price .sales-promotion {
  display: block;
  width: 53px;
  border: 1px solid #f9d2d3;
  color: #e4393c;
  height: 18px;
  text-align: left;
  line-height: 17px;
  padding: 0 15px 0 8px;
  cursor: pointer;
  background: #fff;
  text-decoration: none;
  float: right;
  overflow: hidden;
  position: relative;
}

.b-sum {
  width: 100px;
  height: 20px;
  padding: 45px 40px 15px 15px;
  text-align: right;
}

.b-sum strong {
  color: #333;
  font-weight: 700;
  font-size: 14px;
}

.b-action {
  padding: 45px 0 10px 60px;
}
.b-action a {
  display: block;
  width: 75px;
  height: 20px;
}

.b-quantity {
  width: 80px;
  padding: 45px 0 10px;
}
.b-quantity .quantity-form {
  position: relative;
  overflow: hidden;
  height: 20px;
  border: 1px solid #cacbcb;
}
.b-quantity .quantity-form .quantity-add {
  border-left: 1px solid #cacbcb;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 1px 0;
  width: 16px;
  text-align: center;
  color: #666;
  background: #fff;
  float: right;
}
.b-quantity .quantity-form .quantity-down {
  border-right: 1px solid #cacbcb;
  display: inline-block;
  height: 18px;
  line-height: 18px;
  padding: 1px 0;
  width: 16px;
  text-align: center;
  color: #666;
  background: #fff;
  float: left;
}
.b-quantity .quantity-form input {
  width: 44px;
  height: 20px;
  float: left;
  text-align: center;
  background: #fff;
  border: none;
}
.b-quantity .quantity-text {
  text-align: center;
  height: 20px;
  line-height: 20px;
}

#cart-floatbar {
  width: 960px;
  height: 60px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
  position: relative;
  margin: 0 auto;
}
#cart-floatbar .select-all {
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 20px 0 16px 9px;
}
#cart-floatbar .operation {
  float: left;
  height: 60px;
  width: 310px;
  line-height: 50px;
}
#cart-floatbar .operation a {
  margin-left: 20px;
  margin-top: 4px;
  display: inline-block;
  height: 60px;
}
#cart-floatbar .toolbar-right {
  overflow: hidden;
}
#cart-floatbar .toolbar-right .btn-area {
  margin-top: 7px;
  float: right;
}
#cart-floatbar .toolbar-right .btn-area a {
  display: block;
  width: 158px;
  height: 48px;
  background: url(../images/styleimg/counter.gif) no-repeat;
}
#cart-floatbar .toolbar-right .price-sum {
  float: right;
  height: 43px;
  line-height: 20px;
  margin: 7px 20px 0 10px;
  color: #666;
  width: 220px;
}
#cart-floatbar .toolbar-right .price-sum {
  float: right;
  height: 43px;
  line-height: 20px;
  margin: 20px 20px 0 10px;
  color: #666;
  width: 220px;
}
#cart-floatbar .toolbar-right .price-sum span {
  display: inline-block;
  width: 110px;
  height: 20px;
  float: left;
  text-align: left;
}
#cart-floatbar .toolbar-right .price-sum .txt {
  text-align: right;
}
#cart-floatbar .toolbar-right .price-sum .totalprice {
  font-size: 18px;
  color: #e4393c;
  font-weight: 700;
}
#cart-floatbar .toolbar-right .amount-sum {
  float: right;
  color: #999;
  height: 46px;
  line-height: 20px;
  margin: 20px 0 0;
  cursor: pointer;
}
#cart-floatbar .toolbar-right .amount-sum em {
  color: #e4393c;
  font-family: verdana;
  font-weight: 700;
  margin: 0 3px;
}
#cart-floatbar .toolbar-right .amount-sum b {
  display: inline-block;
  width: 9px;
  height: 5px;
  vertical-align: middle;
  background: url(../images/cart-icons-new.png) no-repeat -45px -91px;
}

.goods-list {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.goods-list ul {
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-left: 1px;
  overflow: visible;
}

.goods-list ul li {
  float: left;
}

.goods-list ul li .goodsinfo {
  position: relative;
  width: 198px;
  padding: 20px;
  background: #fff;
  margin: -1px 0 0 -1px;
  border: 1px dashed #cacaca;
  overflow: hidden;
}

.goods-list ul li .goodsinfo:hover {
  z-index: 2;
  border: 1px solid #E4393C;
}

.p-img {
  width: 160px;
  margin: 0 auto;
}

.goodsinfo .p-img img {
  vertical-align: middle;
  width: 160px;
  height: 160px;
}

.p-name {
  height: 36px;
  line-height: 18px;
  margin: 5px 0;
  overflow: hidden;
}

.p-price {
  width: 100%;
  margin: 5px 0 2px;
  overflow: hidden;
  text-align: center;
}

.p-price strong {
  font-size: 14px;
  color: #d91f20;
  font-family: verdana;
  font-weight: 400;
}

.p-btn {
  margin: 10px 0 0;
  text-align: center;
}

.p-btn a {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 20px;
  border: 1px solid #999;
  color: #666;
  text-align: center;
  border-radius: 3px;
}

.p-btn a:hover {
  border: 1px solid #E4393C;
  background: #E4393C;
  color: white;
}

.p-btn a:hover b {
  background: url(../images/addtocart-icons.png) no-repeat -28px -57px;
}

.p-btn b {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background: url(../images/addtocart-icons.png) no-repeat 0 -57px;
  overflow: hidden;
  vertical-align: middle;
}

/*# sourceMappingURL=cart.css.map */
