@charset "utf-8";

//变量
$w:width;
$h:height;
$c:color;
$bg:background;
$fz:font-size;
$lh:line-height;
$ff:font-family;
$yh:"微软雅黑";
$n:none;
$r:right;
$t:top;
$l:left;
$b:bottom;
$ab:absolute;
$p:position;