@charset "utf-8";
@import "_public.scss";
@import "_header.scss";
@import "footer.scss";

//登录主要内容
#content{
}
#content .login_bg{
    margin-top:-20px;
    background: url(../images/styleimg/login2.jpg) no-repeat;
    min-height: 517px;
    position: relative;
    .welcome{
        position: absolute;
        top: 27px;
        left: 66px;
    }
    .phone{
        margin: -35px 0 20px 0;
        position: absolute;
        top: 204px;
        font-size: 16px;
        font-family: "微软雅黑";
        color: #8E0C3A;
        left: 211px;
        em{
            font-weight: bold;
        }
    } 
}
    #content .login_bg .login_box{
        padding: 220px 0 0 104px;
       label{
          display: block;
            input{
                width: 200px;
                height: 20px;
                font-family: "微软雅黑";
                padding-left: 2px;
            }
            i{
               display: inline-block;
               width: 72px;
               font-size: 100%;
               font-family: "微软雅黑";
               color: #666;
            }
        }
        .z_check{
            margin-left: 72px;
            input{
                width: 12px;
                margin: 4px 5px 0 0;
            }
            i{
               display: inline-block;
               width: 100px;
               font-size: 100%;
               font-family: "微软雅黑";
               color: #666;
            }
        }
        .zc{
           width: 450px;
           height: auto;
           margin: 20px 0;
           .zc_btn{
               width: 205px;
               height: 30px;
               border: none;
               background: #8E0C3A;
               color: #FFFFFF;
               margin-left: 72px;
               cursor: pointer;
           }
           p{
               color: #8E0C3A;
               margin: 5px 0 0 210px;
               cursor: pointer;
               line-height: 26px;
               font-family: "微软雅黑";
           }
           p em{
              color: #6C6C6C;
              font-family: "微软雅黑"; 
           }
           span{
               padding-top:10px ;
               color: #8E0C3A;
               font-family: "微软雅黑";
               margin-left: 72px;
           }
        } 
    }

